body {
  background-color: black;
}
.box1 {
  background-color: chocolate;
  height: 150px;
  width: 150px;
}
.box2 {
  background-color: chocolate;
  height: 150px;
  width: 150px;
}
.box3 {
  background-color: chocolate;
  height: 150px;
  width: 150px;
}
body {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  body {
    background-color: red;
  }
}
@media screen and (max-width: 1024px) {
  body {
    background-color: blue;
  }
}
@media screen and (max-width: 1000px) {
  .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: yellowgreen;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: aqua;
  }
}
